<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This little web application had been made with the sole purpose to make the management of the Jobs-app easier</p>
    </div>
</div>