<div class="jumbotron mt-4">
    <div class="container">
        <h4 class="display-4">
           Jobs app 
        </h4>
        <p class="lead">Contents...</p>
        <hr class="my-4">
        <p>Test</p>
        <a href="" class="btn primary btn-lg">Go to jobs!</a>
    </div>
</div>